<!DOCTYPE html>
<html lang="en">
<head>
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>Colby T. Dobson</title>
    {{/if}}
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="stylesheet" href="/styles/base.css">
    {{#if style}}
        <link rel="stylesheet" href="{{style}}">
    {{/if}}
    {{#if script}}
        <script src="{{script}}"></script>
    {{/if}}
</head>
<body>
{{> navbar}}
{{{body}}}
{{> footer}}
</body>
</html>